/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --header-text-color: #DB00FF;
  --header-shadow-color: #ff0070;
  --decor-text-color: #ff0070;
  --link-shadow-color: #ff0070;
  --background-text-color: #ff0070;
  --text-color: #F1B2CE;
  --heading-section-color: #ff0070;
  --heading-card-color: #000028;
  --button-hover-color: #FF91C1;
  --accent-font: 'IBM Plex mono';
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-text-color: #DB00FF;
  --header-shadow-color: #ff0070;
  --decor-text-color: #ff0070;
  --link-shadow-color: #ff0070;
  --background-text-color: #ff0070;
  --text-color: #F1B2CE;
  --heading-section-color: #ff0070;
  --heading-card-color: #000028;
  --button-hover-color: #FF91C1;
  --accent-font: 'IBM Plex mono';
}


