:root.theme-light {
  --main-page-color: #ff8dcb;
  --header-text-color: #ffc2e6;
  --decor-elements-color: #353430;
  --text-color: #353430;
  --heading-card-color: #353430;
  --button-hover-color: #ada5a6;
  --header-rec: hidden;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}

.page.theme_light {
  --main-page-color: #ff8dcb;
  --header-text-color: #ffc2e6;
  --decor-elements-color: #353430;
  --text-color: #353430;
  --heading-card-color: #353430;
  --button-hover-color: #ada5a6;
  --header-rec: hidden;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
      --main-page-color: #ff8dcb;
      --header-text-color: #ffc2e6;
      --decor-elements-color: #353430;
      --text-color: #353430;
      --heading-card-color: #353430;
      --button-hover-color: #ada5a6;
      --header-rec: hidden;
      --background-image: url(../images/cover-image-light.png);
      --background-color: #fff1f7;
  }
}
