.page {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image, #000028);
  background-color: var(--background-color, #000028);
  overflow: auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  justify-items: end;
  align-items: center;
  padding: 10px;
}

.header__rec {
  color: var(--main-page-color);
  font-size: 18px;
  font-family: var(--accent-font);
  font-weight: 400;
  position: absolute;
  top: 12px;
  right: 39px;
  visibility: var(--header-rec, visible);
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-elements-color);
}

.header__theme-menu-button_active:disabled {
  border: 1px solid var(--decor-elements-color);
  pointer-events: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decor-elements-color);
  font-size: 18px;
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 18px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-text-color);
  text-shadow: 4px 4px 0 var(--main-page-color);
  line-height: 82.5%;
  font-family: var(--accent-font);
  font-weight: 700;
}

.title__decor {
  background-color: var(--main-page-color);
  color: var(--heading-card-color);
  font-size: 18px;
  font-weight: 700;
  font-family: var(--accent-font);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.heading__section {
  color: var(--decor-elements-color);
  font-size: 18px;
  font-family: var(--accent-font);
  font-weight: 700;
  line-height: 23.4px;
}

.paragraph {
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.header::before {
  content: "";
  width: 25.038px;
  height: 24.999px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decor-elements-color);
  border-right: 1px solid var(--decor-elements-color);
}

.header::after {
  content: "";
  width: 25.036px;
  height: 25.002px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decor-elements-color);
  border-left: 1px solid var(--decor-elements-color);
}

.header__rec::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--main-page-color);
  position: absolute;
  top: 7px;
  right: -19px;
  border-radius: 50%;
  fill: var(--main-page-color);
  filter: drop-shadow(0px 0px 4px var(--main-page-color));
}

.link__shadow {
  text-decoration: none;
  text-shadow: 2px 2px var(--main-page-color);
}

.link__shadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.link__shadow:focus {
  outline: none;
}

.link__shadow:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fontweight__light {
  font-weight: 400;
}

.img {
  object-fit: cover;
  object-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.picture {
  display: grid;
  gap: 10px;
  object-fit: contain;
}

.footer {
  position: relative;
  display: grid;
  min-height: 668px;
  height: 100vh;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.heading__footer {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-text-color);
  text-shadow: 2px 2px 0 var(--main-page-color);
  line-height: 82.5%;
  font-family: var(--accent-font);
  font-weight: 700;
}

.footer::before {
  content: "";
  width: 25.038px;
  height: 24.999px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decor-elements-color);
  border-right: 1px solid var(--decor-elements-color);
}

.footer::after {
  content: "";
  width: 25.036px;
  height: 25.002px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decor-elements-color);
  border-left: 1px solid var(--decor-elements-color);
}

@media (width >= 768px) {
  .page {
      gap: 60px;
  }

  .main {
      gap: 80px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .header {
      min-height: 1024px;
      padding: 20px 0px;
  }

  .header__title {
      justify-self: start;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title__decor {
      width: 50%;
      max-width: 364px;
      margin-right: 20px;
  }

  .header__theme-menu-list {
      margin-right: 20px;
  }

  .header__rec {
      top: 22px;
      right: 49px;
  }

  .header::before {
      right: 20px;
      top: 20px;
  }

  .header::after {
      left: 20px;
      bottom: 20px;
  }

  .footer::before {
      right: 20px;
      top: 20px;
  }

  .footer::after {
      left: 20px;
      bottom: 20px;
  }

  .heading__footer {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__content:nth-child(2n + 1) {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .heading__section {
      grid-row: 1/3;
  }

  .main__content:nth-child(odd) > *:not(:first-child) {
      display: grid;
      grid-column: 2/3;
  }

  .main__content:nth-child(even) .heading__section {
      max-width: 236px;
  }

  .picture {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 10px;
  }

  .zakat {
      grid-row: 1;
      grid-column: 1/3;
  }

  .icecream {
      grid-row: 1/3;
      grid-column: 3/4;
  }

  .tape {
      grid-column: 1;
      grid-row: 2/4;
  }

  .book {
      grid-column: 2/3;
      grid-row: 2/3;
  }

  .street {
      grid-column: 2/4;
      grid-row: 3/4;
  }

  .pic {
      object-fit: cover;
  }
}

@media (width >= 1024px) {
  .header {
      min-height: 768px;
  }

  .header .title__decor {
      max-width: 491px;
  }

  .header__theme-menu-list {
      display: flex;
      flex-direction: row;
  }

  .main__content:nth-child(odd) .card .paragraph {
      min-width: 648.92px;
  }

  .header__theme-menu {
      justify-self: center;
      align-self: self-start;
  }

  .main__content:nth-child(even) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, min-content);
  }

  .main__content:nth-child(even) .heading__section {
      display: grid;
      grid-column: 1/4;
      max-width: 315px;
  }
}
