:root {
  --header-text-color: #DB00FF;
  --header-shadow-color: #ff0070;
  --decor-text-color: #ff0070;
  --link-shadow-color: #ff0070;
  --background-text-color: #ff0070;
  --text-color: #F1B2CE;
  --heading-section-color: #ff0070;
  --heading-card-color: #000028;
  --button-hover-color: #FF91C1;
  --accent-font: 'IBM Plex mono';
}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
