:root {
  --main-page-color: #ff0070;
  --header-text-color: #db00ff;
  --text-color: #f1b2ce;
  --heading-card-color: #000028;
  --button-hover-color: #ff91c1;
  --decor-elements-color: #ff0070;
  --accent-font: "IBM Plex mono", Arial, sans-serif;
  --header-rec: visible;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
}

